
body {
    background-color: #f0dc82;
    color: #333;
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEBA4F; /* Match logo color */
    padding: 10px 20px;
}

.navbar .logo {
    height: 40px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #f96815;
    border-radius: 5px;
}

.navbar a.active {
    background-color: #E2725B;
    border-radius: 5px;
}

/* Page Content */
main {
    flex: 1;
    padding: 40px 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #FEBA4F;
    color: Black;
}